<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container" fxLayout.xs="row" fxLayoutAlign="right" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div class="item item-2" fxFlex="10%">
        <li *ngIf="userLogged">
          <a>Hi {{userLogged.name}}</a>
        </li>
        <li *ngIf="userLogged">
          <i class="material-icons">insert_emoticon</i>
        </li>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <i class="material-icons">menu</i>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="userLogged" routerLink="/about" (click)="logout()">
            <i class="material-icons">exit_to_app</i>
            <span>Logout</span>
          </button>
          <button *ngIf="!userLogged" mat-menu-item routerLink="/auth/signin">
            <i class="material-icons">person</i>
            <span>Loggin</span>
          </button>
          <button *ngIf="!userLogged" mat-menu-item routerLink="/auth/signup">
            <i class="material-icons">bubble_chart</i>
            <span>Signup</span>
          </button>
          <button *ngIf="userLogged" mat-menu-item routerLink="/about">
            <i class="material-icons">settings</i>
            <span>Profile</span>
          </button>
        </mat-menu>
      </div>
    </div>





  </mat-toolbar-row>
</mat-toolbar>
